.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 24px;
  width: 200px;

  border-radius: 12px;
  border: 3px solid transparent;

  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to bottom, #ffda5f 50%, #ffffff 50%) border-box;

  color: #fff;
  cursor: pointer;
}


.btn::before {
  content: "";
  position: absolute;
  inset: -3px; 
  border-radius: inherit;
  background: linear-gradient(to bottom, #ffda5f 55%, white 50%);
  z-index: -1;
}

.btn-text {
  font-size: 18px;
  font-family: "roboto";
}

.btn-icon {
  width: 36px !important;
  height: 19.5px !important;
}

.btn-icon img {
  width: 28px;
  height: auto;
}
