
.card {
  border: 3px solid white;
  border-radius: 13px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: fit-content;
  position: relative;
  
}

.card .main-img {
  border-radius: 14px;
 
}
.card:hover {
  border-color: #ffda5f !important;
    cursor: pointer;
  .redirect-icon{
    display: block;
    
  }

  .main-img{
    opacity: .5;
  }
  transition: all .2s ease-in-out;
}

.card-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.redirect-icon {
  position: absolute;
  display:none;
}

.project-title{
    background-color: #4C4C4CA8;
    padding: 10px ;
    font-size: 35px;
    font-weight: 700;
    font-family: "roboto";
    color: white;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}


@media screen and (max-width: 1285px) {

  .card{
    height: auto;
    width: 200px;
    overflow: hidden;
  }
  .main-img{
    object-fit: cover;
  }
  .project-title{
    font-size: 20px;
  }
}