.contact {

  padding: 50px 100px;
}

.contact-container {
  display: flex;
  background: linear-gradient(to right, #1b1b1b, #0f0f0f);
  margin-top: 100px;
  overflow: hidden;
}


.contact-map {
  width: 50%;
  position: relative;
}

.contact-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.contact-form {
  width: 55%;
  padding: 50px;
}

.contact-form h1 {
  font-size: 54px;
  margin-bottom: 10px;
  color: white;
  font-family: "montserrat";
}

.contact-form h1 span {
  color: #ffda5f;
}

.contact-form p {
  font-size: 14px;
  color: #cfcfcf;
  margin-bottom: 30px;
  font-family: "montserrat";
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
}

.contact-form input,
.contact-form select {
  padding: 12px;
  background: transparent;
  border: 1px solid #e0e0e0;
  color: #fff;
}

.contact-form select option {
  background: #0f0f0f;
}

.contact-form button {
  margin-top: 10px;
  padding: 12px;
  background: #ffcc00;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background: #ffd000;
}


.contact-info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.contact-info div {
  display: flex;
  gap: 10px;

}


.contact-icon {
  width: 35px;
  height: 35px;
}

.details {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  font-family: Montserrat;
}

.number {
  color: #ffcc00;
}

@media screen and (max-width: 1285px) {

  .contact {
    padding-inline: 20px;
  }

  .contact-container {
    flex-direction: column-reverse;
  }
  .contact-map {
    width: 100%;
    margin-top: 40px;
  }
  .contact-form {
    padding: 10px;
    width: auto;
  }

  .contact-icon {
    width: 29px;
    height: 29px;
  }
}

@media screen and (max-width: 600px) {
  .contact-info {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
}
