
.testimonials {
  padding: 50px 100px;
}
.heading{
  margin-bottom: 80px;
}

.testimonials-wrapper {
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center; 
}

.testimonial-card {
  width: 100%;
  height: 250px;
  background: #0f0f0f;
  border-radius: 11px;
  border: 1.5px solid #e6e6e6;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  opacity: 0.75;
  transform: scale(0.95);
  padding: 2px;
}

.testimonial-card.active {
  opacity: 1;
  transform: scale(1.2);
}

.avatar {
  width: 60px;
  height: 60px;
  margin-bottom: 14px;
}

.name-position {
  font-size: 14px;
  color: white;
  
}

.testimonial-card h4 span {
  font-weight: normal;
  color: #cfcfcf;
}

.testimonial-card p {
  font-size: 13px;
  line-height: 1.6;
  color: #d0d0d0;
  padding: 0 24px;
}

.header{
  display: flex;
  align-items: center;
  gap: 20px;
}


@media screen and (max-width: 1160px) {
 .testimonials{
  padding-inline: 20px;
 }
  .testimonials-wrapper{
    flex-direction: column;
    gap: 30px;
  }
  .testimonial-card.active{
    transform: scale(0.90);
  }
  .testimonial-card{
    transform: scale(1);
  }
}