.navbar-main {
  display: flex;
  justify-content: space-between;
  padding-inline: 50px;
}
.navbar-logo {
  font-size: 26px;
}

.navbar-logo-span {
  color: gray;
}

.navbar-icon {
  width: 36px !important;
  height: 19.5px !important;
}

.navbar-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-weight: 700;
  color: white;
  font-size: 20px;
  font-family: "roboto";
}

.navbar-child-inner-child {
  display: flex;
  align-items: center;
}
.navbar-mobile {
  display: none;
}
@media screen and (max-width: 1285px) {
  .navbar-main {
    display: none;
  }

  .main{
    margin: 0 !important;
  }

  .navbar-mobile {
    display: block;
    padding: 20px;
    background: #161616;
    color: #fff;
  }

  .navbar-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-mobile-menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: slideDown 0.3s ease;
  }
}
.hamburger {
  width: 30px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  background: #fff;
  margin: 6px 0;
  transition: 0.3s;
}


.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
