.footer{
  width: 100%;
}
.footer-content {
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #0e0d0e,
    #171717,
    #1f1e1f,
    #272627,
    #2c2c2d,
    #323132,
    #373738,
    #3b3b3c,
    #404040,
    #444445,
    #494949
  );
  display: flex;
  justify-content: end;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
}
