.about-main{
    padding-inline: 80px;
    font-family: "roboto";
    padding-top: 100px;
    display: flex;
    gap: 80px;
    align-items: center;
}

.about-main p{
    font-weight: 400;
    font-size: 29px;
    color: #F2F2F2;
    font-family: "roboto";
}

.about-main-child{
    width: 100%;
}

.about-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F4F4F;
    box-shadow: 0 4px 10px rgba(0, 0, 0,.5);
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 10px 30px 10px 30px;
    width: 569px;
}

.about-card h3, a{
    font-family: "Courier Prime";
    font-size: 20px;
    color: white !important;
}

.about-card a{
    color: #FFDA5F !important;
}

.about-icon{
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 1285px) {

  .about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20px;
    gap: 10px;
  }
  .about-card{
    width: auto;
  }
 .about-main-child{
    width: auto;
 }

 .about-main p{
    font-size: 20px;
 }
}